CMakeLists.txt.user*
.Rhistory
.RData
outliers.txt
*.swp
experiments/odb-demo.dat
experiments/odb-demo.pdf
java/odbapi/odb-demo.dat
java/odbapi/odb-demo.pdf
odb-demo.r
*.grib
java/odbapi/plots
java/.metadata
*.pyc
*.sublime-workspace
*.so
*.cache
*.old
*.back
python/.ipynb_checkpoints
db.sqlite3
*.db
*.numpy
data/*.json
*.installed*
.ipynb_checkpoints/
*.idx
*.dylib
*.ipynb
scripts/
issues/
notebooks/
sqlite-hamming
